[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio-cooperative = "*"
setuptools = "*"
wheel = "*"
twine = "*"
sphinx = "*"

[packages]
httpx = "*"
aiocache = "*"
pydantic = "*"
ujson = "*"
msgpack = "*"

[requires]
python_version = "3.8"
